# vim: sw=2 et

# Runtime ENV
DNS_RESOLVER=1.1.1.1
NGINX_ENVSUBST_TEMPLATE_SUFFIX=.conf
NGINX_LOG_ERROR_LEVEL=warn
NGINX_LOG_FORMAT_NAME=main
NGINX_LOG_INFO_ON_START=buildinfo
NGINX_LOG_PATH_ACCESS=/var/log/nginx/access.log
NGINX_LOG_PATH_ERROR=/var/log/nginx/error.log
NGINX_SERVER_HEADER=
NGINX_WORKER_PROCESSES=auto
TZ=UTC
USER_NAME=nginx
USER_ID=101
GROUP_NAME=nginx
GROUP_ID=101


# Build ENV

IMAGE_NAME="compilenix/nginx"

# BUILD_CACHE=
BUILD_CACHE="--no-cache"

# Reduce build jobs by 4 if there are more then 7 cores else set jobs to half of core count
# This is useful if you dont want to congest the cpu of your building system
BUILD_THROTTLE=n

# https://github.com/Orange-OpenSource/hurl/releases/latest
HURL_VERSION=7.0.0

# https://github.com/nginx/nginx/tags
NGINX_VERSION=1.29.1
NGINX_COMMIT=0024724f2f77ac4fa0d7394e859608d6844a5914

# https://github.com/nginx/njs/tags
NJS_VERSION=0.9.1
NJS_COMMIT=4fd3ff98e413ede57c88456cf84b116a8382061a

# https://github.com/openssl/openssl/blob/openssl-3.5/CHANGES.md?plain=1
OPENSSL_VERSION=3.5.2

# https://github.com/openresty/headers-more-nginx-module/tags
HEADERS_MORE_VERSION=0.39

# https://github.com/google/ngx_brotli/commits/master
NGX_BROTLI_COMMIT=a71f9312c2deb28875acc7bacfdd5695a111aa53

# https://github.com/arut/nginx-rtmp-module/tags
RTMP_VERSION=1.2.2

# https://github.com/tokers/zstd-nginx-module/tags
ZSTD_MODULE_VERSION=0.1.1

# https://github.com/bellard/quickjs/commits/master
QUICK_JS_COMMIT=1fdc768fdc8571300755cdd3e4654ce99c0255ce
